html {
    background: #f7f7f7;
}

body {
    font-family: 'Barlow', sans-serif;
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(49, 46, 46);
}

header, footer {
    background: #333a40;
    color: white;
}

header li {
    display: inline;
}

header h1, nav {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* class */
.product {
    box-sizing: border-box;
    border: 1px solid grey;
    width: 210px;
    margin: 5px; 
    padding: 5px;
    display: inline-block;
}

.product-detail {
    width: 660px;
}

.product-detail img {
    max-width: 50%;
    float: left;
}

img {
    max-width: 198;
}

.button {
    padding: 10px;
    display: inline-block;
}

main {
    width: 680px;
    display: inline-block;
    padding: 10px;
}

aside {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

/* To remove underlines from the links 
   and inherit the colours
*/
a {
    text-decoration: none;
    color: inherit;
}


/* Psuedo classes */
a:hover {
    color: #0e69e9;
}

/* p:first-of-type {
    color: lightcoral;
} */

.button:last-of-type {
    background: #0e69e9;
    color: white;
}

/* unique id 
#name {
    background: red;
}
*/

/* 
Margin is for outer boundary of div
Padding is for inner boundary of divs

Sometimes unordered list make use of browser's default value hence we reset it.
Normalize.css can also be used to make it consistant


*/