html {
    background: #f7f7f7;
}

body {
    font-family: 'Barlow', sans-serif;
    background: white;
    /* max-width: 80vw; */
    max-width: 100%;
    margin: 0 auto;
    color: rgb(49, 46, 46);
    text-align: center;
}

header, footer {
    background: #333a40;
    color: white;
    padding: 20px 10px;
}

input[type="search"] {
    width: 100%;
}

header li {
    display: inline;
}

header h1, nav {
    display: inline-block;
}

header h1 {
    /* width: 64%; */
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    line-height: 30px;
}

/* class */
.product {
    box-sizing: border-box;
    border: 1px solid grey;
    /* width: 30%; */
    width: 100%;
    margin: 5px; 
    padding: 5px;
    /* display: inline-block; */
    text-align: center;
}

.product-detail {
    width: 660px;
}

.product-detail img {
    max-width: 50%;
    float: left;
}

img {
    max-width: 100%;
}

.button {
    padding: 10px;
    display: inline-block;
}

/* main { */
    /* target/context = result */
    /* 680/1000 = 0.68 */
    /* width: 68%; */
    /* display: inline-block; */
    /* padding: 10px; */
    
/* } */

/* aside {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
} */

/* To remove underlines from the links 
   and inherit the colours
*/
a {
    text-decoration: none;
    color: inherit;
}


/* Psuedo classes */
a:hover {
    color: #0e69e9;
}

/* p:first-of-type {
    color: lightcoral;
} */

.button:last-of-type {
    background: #0e69e9;
    color: white;
}

/* Contact Us */
form {
    padding: 10px;
    margin: 10px 0;
    width: 600px;
}

form > div {
    margin: 10px 0;
}

.inline label {
    display: inline-block;
    width: 100px;
}

/* For Input box */
input:not([type]), input[type="text"], textarea {
    padding: 10px;
    width: 400px;
}

/* Table */
table {
    width: 400px;
    text-align: center;
    margin: 20px 0;
}

caption {
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px dotted;
    padding: 10px;
}

td, th {
    padding: 10px;
}

tr:hover {
    background-color: #f5f5f5;
}









/* Media queries */
/* @media not screen {
    li {
        color: red;
    }
} */

/* unique id 
#name {
    background: red;
}
*/

/* 
Margin is for outer boundary of div
Padding is for inner boundary of divs

Sometimes unordered list make use of browser's default value hence we reset it.
Normalize.css can also be used to make it consistant


*/